/* Instellingen om fouten te helpen vinden, uncomment om aan te zetten */

* {                                          /* geldt voor alles */
    /* border: 1px dotted black;         */  /* zorg dat elke box een gestippelde rand krijgt, zodat je de afmeting goed kunt zien, letop dat dit de layout soms kan wijzigen */
    /* background-color: rgba(0,0,0,5%); */  /* zorg dat elke box een doorzichtige donkere achtergrond krijgt, hoe meer boxen in elkaar hoe donkerder de achtergrondkleur */
}

/* Basisinstellingen voor alle pagina's, alleen aanpassen als je pro wilt worden */

html, body {                      /* geldt voor html en body */
  margin: 0px;                    /* standaard marge 0 */
  background-color: #3d3d3d;    /* achtergrondkleur lichtgrijs */
  color: #ffffff;               /* tekstkleur donkergrijs */
}  

body * {                          /* geldt voor alles in body */
  overflow: hidden;               /* zorgt dat DIV en andere block elementen de hoogte krijgt van wat erin zit (anders is het soms 0) */
  box-sizing: border-box;         /* zorg dat border meetelt bij de width en height van boxen */
  margin: 0px;                    /* standaard marge 0 */
}

/* Indeling voor alle pagina's */

.page {
  width: 700px;                   /* vaste breedte van 700 pixels */
  margin: 10px auto;              /* boven en onder 0 pixels marge, links en rechts marge gelijk verdeeld (gecentreerd) */
}

header, footer {                  /* geldt voor header en footer */
  margin: 10px 0px;
}

main {                       
  text-align: justify;
}                                 /* tekst uitvullen */


h1, h2, h3 {                      /* geldt voor h1 en h2 en h3 */
  margin: 10px 0px;
  text-align: center;             /* tekst centreren */
} 


p {
  margin: 10px 0px;
  text-align: justify;            /* tekst links en rechts uitvullen */
}

/* Indeling voor hoofd pagina */


.basicinfo-box {
  background-color:#242424;
  margin-top:20px;
}
.basicinfo-tekst {
  float:left;
  width: 400px;
  padding:10px;
}
.basicinfo-img {
  float:right;
  width: 250px;
  margin: 15px;
  border:solid black 5px;
}

.fiainfo-box {
background-color:#242424;
  margin-top:20px;
  }
.fiainfo-tekst {
  float:right;
  width: 400px;
  padding:10px;
}
.fiainfo-img {
  float:left;
  width: 250px;
  margin: 15px;
  border:solid black 5px;
}

.gpinfo-box {
  background-color:#242424;
  margin-top:20px;
}
.gpinfo-tekst {
  float:left;
  width: 400px;
  padding:10px;
}
.gpinfo-img {
  float:right;
  width: 250px;
  margin: 15px;
  border:solid black 5px;
}



/* Opmaak voor alle pagina's */

h1, h2, h3 {
      color: #fd1212;
}

.smalltext {
    text-align: center;
    font-size: 0.7em;
    color:#fd1212
}

a {
    color: #fd1212;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color:#ff0000
}

.kopjesh2 {
  padding:10px;
  margin-bottom:20px;
}

hr {
  border-color:red;
}

/* Navigatiebalk voor alle pagina's */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #fd1212;
    overflow: hidden;
    border-radius: 25px;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #292929;
}

nav li a.active {
    background-color: black;
    text-decoration:underline;
    color:red;
}


Opmaak subpagina's

.teamsinfo-box {
  background-color:#242424;
  margin-top:20px;
}
.teamsinfo-tekst {
  float:left;
  width: 400px;
  padding:10px;
}
.teamsinfo-img {
  float:right;
  width: 250px;
  margin: 15px;
  border:solid black 5px;
}

.team-box {
  background-color:#242424;
  margin:20px;
}
.team-img {
  margin:20px;
  float:left;
  width: 200px;
  border: solid black 5px;
}
.team-tekst {
 padding-top:10px;
}